{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<script>
  $( function() {
    $( "#accordion" ).accordion();
    $( "#days input" ).checkboxradio({
      icon: false
    });
  } );
</script>
{% endblock %}

{% block body %}
  <h1>Alarm Dashboard</h1>
  <a class="btn btn-success" href="/set_alarm"> Set new alarm</a>
  <hr>

  <div id="accordion">
    {% for alarm in alarms %}
    <h3>{{alarm.alarm}} <span>{{alarm.title}}</span></h3>
    <div>
      <p>{% for day in alarm.dnames %}{{day}} {% endfor %}</p>
      <p>{{alarm.action}}</p>
      <a href="edit_alarm/{{alarm.id}}" class="btn btn-default pull-right">Edit</a>
      <form action="{{url_for('delete_alarm', id=alarm.id)}}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </div>
    {% endfor %}
  </div>
{% endblock %}
