{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<script>
$(function() {
    $('#time').timepicker({
        'timeFormat': 'H:i'
        });

});

function selectDaysOptions(selected) {
    var obj = document.getElementById("days");
    if (obj.options.length == 0) { return; }
    for (var i = 0; i < obj.options.length; i++) {
        obj.options[i].selected = selected;
    }
}
</script>
{% endblock %}

{% block body %}
  <h1>Set Alarm</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.title, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.time, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.days, class_="form-control") }}
      <a onclick="selectDaysOptions(true);" href="#">Select all</a>
      <a onclick="selectDaysOptions(false);" href="#">Select none</a>
    </div>
    <div class="form-group">
      {{ render_field(form.action, class_="form-control") }}
    </div>
 

    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
