{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .btn-primary{
      margin: 15px 0px 0px 15px;
    }
    #red, #green, #blue, #white {
      float: left;
      clear: left;
      width: 300px;
      margin: 15px;
    }
    #swatch_rgb {
      width: 160px;
      height: 75px;
      margin-top: 18px;
      margin-left: 350px;
      background-image: none;
    }
    #swatch_white {
      width: 160px;
      height: 75px;
      margin-top: 18px;
      margin-left: 350px;
      background-image: none;
    }
    #red .ui-slider-range { background: #ef2929; }
    #red .ui-slider-handle { border-color: #ef2929; }
    #green .ui-slider-range { background: #8ae234; }
    #green .ui-slider-handle { border-color: #8ae234; }
    #blue .ui-slider-range { background: #729fcf; }
    #blue .ui-slider-handle { border-color: #729fcf; }
    #white .ui-slider-range { background: #000000; }
    #white .ui-slider-handle { border-color: #729fcf; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      function hexFromRGB(r, g, b) {
        var hex = [
          r.toString( 16 ),
          g.toString( 16 ),
          b.toString( 16 )
        ];
        $.each( hex, function( nr, val ) {
          if ( val.length === 1 ) {
            hex[ nr ] = "0" + val;
          }
        });
        return hex.join( "" ).toUpperCase();
      }

      function refreshSwatch() {
        var id = $(this).attr('id');
        var red = $( "#red" ).slider( "value" ),
          green = $( "#green" ).slider( "value" ),
          blue = $( "#blue" ).slider( "value" ),
          white = $( "#white" ).slider( "value" ),
          hex = hexFromRGB( red >> 8, green >> 8, blue >> 8 );
        $( "#swatch_rgb" ).css( "background-color", "#" + hex );

        var white_reduced = (white >> 8).toString( 16 );
        $( "#swatch_white" ).css( "background-color", "#" +
          white_reduced + white_reduced + white_reduced
        );
        $.getJSON('/valueofslider', {
          sender: id,
          value:$( "#" + id ).slider( "value" )
        })
      }

      $( "#red, #green, #blue, #white" ).slider({
        orientation: "horizontal",
        range: "min",
        max: 65535,
        value: 0,
        slide: refreshSwatch,
        change: refreshSwatch
      });
      $( "#red" ).slider( "value", 255 );
      $( "#green" ).slider( "value", 140 );
      $( "#blue" ).slider( "value", 60 );
      $( "#white" ).slider( "value", 60 );

    } );
  </script>
{% endblock %}
{% block body %}
  <h1>Color Gauges</h1>
  <form method="POST" action="">
    <div class="form-group">
      <div id="red"></div>
      <div id="green"></div>
      <div id="blue"></div>
      <div id="white"></div>

      <div id="swatch_rgb" class="ui-widget-content ui-corner-all"></div>
      <div id="swatch_white" class="ui-widget-content ui-corner-all"></div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
