<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Wake-Up-Light App</title>

    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename='3rdparty/jquery-timepicker/jquery.timepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='3rdparty/jquery-timepicker/jquery.timepicker.css') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
